
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;200;300;400;500;600;700;800;900&display=swap');


.QA-Wrapper{
    display:flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.2em;
}
.QuestionInput{
    width: 35em;
    color: #252323db; 
    border: 1px solid #ded7d7;
    height: 2.2em;
    text-align: left;
    padding-left: 0.5em;
    font-family: 'Martian Mono';
    align-self: center;
}
.IconWrapper{display: flex;
    height: 2em;
    padding-bottom: 0.2em;
    margin-left: -1em;
    margin-top: -0.6em;
    gap: 0.6em;
}
.IconWrapper>.qButton{
    background-color:transparent;
    border:none;
    cursor:pointer;

  }
  
  .delIcon:hover {
    color: rgba(0, 0, 255, 0.679) !important;
  }
  .qButton:hover{
    background-color: rgba(0, 0, 255, 0.159);
  }
  