
.Answers-Container{
  display: flex;
  align-items: center;
  flex-direction: column;
   
}

.Container-Wrapper{
  width: 50%;
   display:flex;
   align-items:center;
   flex-direction: row;
}
.inputStyle{
  color: #252323db; 
  border: 1px solid #ded7d7;
  height: 2.2em;
  padding-left: 0.5em;
  font-family: 'Martian Mono';
  min-width: 33.5em;
  margin-left: -5em;
}
.Container-Wrapper>.deleteButton{
  background-color:transparent;
  border:none;
  cursor:pointer;
  margin-left: -2.2em;
  opacity: 0; /* Changed from -1 to 0 */
}

.Container-Wrapper:hover>.deleteButton{ /* Added hover effect to the delete button */
  opacity: 1; /* Changed from 0 to 1 */
}

.adelIcon:hover {
  color: rgba(0, 0, 255, 0.679) !important;
}



