
.Answers-Container{
  display: flex;
   flex-wrap: wrap 
}

.Container-Wrapper{
  width: 50%;
   display:flex;
   align-items:center
}

.Container-Wrapper:hover .Container-Wrapper-Button {
    visibility: visible;
    }

.Container-Wrapper-Button {
      visibility: hidden;
      margin:1em;
      padding:0.2em;
      background-color:transparent;
      border:none;
      cursor: pointer;
    }

